<h1>SNEAK SNEAK</h1>
<h2> Shoppe Orders</h2>

<% @shops.each do |shop|%>
<%= link_to shop.user.name, shop %>
<%= shop.sneaker.style %>
<br>
<%end%>

<br>

<%= button_to "Sneaker Index", sneakers_path, method: :get%>
<%= button_to "User Index", users_path, method: :get%>
<%= button_to "New Shop Order", new_shop_path, method: :get%>
