  <h1>SNEAK SNEAK Shoppe!</h1>
  <h2>GET SOMETHINGS</h2>

  <%= form_for @shop do |f| %>
    <%= f.label :user_id%>
    <%= f.collection_select :user_id, User.all, :id, :name %>

    <%= f.label :sneaker_id%>
    <%= f.collection_select :sneaker_id, Sneaker.all, :id, :sneaker_info %>
    <%# f.collection_select :sneaker_id, Sneaker.all, :id, :color %>
    <%# f.collection_select :sneaker_id, Sneaker.all, :id, :size %>

    <%= f.submit %>

  <%end%>

  <%= button_to "Home Sneaker", sneakers_path, method: :get%>
  <%= button_to "Home User", users_path, method: :get%>
  <%= button_to "Shop Orders", shops_path(@shop), method: :get%>
