<h1>SNEAK SNEAK Shoppe! GET SOMETHINGS</h1>

<%= form_for @shop do |f| %>
  <%= f.label :user_id%>
  <%= f.collection_select :user_id, User.all, :id, :name %>

  <%= f.label :sneaker_id%>
  <%= f.collection_select :sneaker_id, Sneaker.all, :id, :style %>

  <%= f.submit %>
<%end%>
<%= button_to "Delete Shop Order", shop_path, method: :delete%>
<%= button_to "Sneaker Index", sneakers_path, method: :get%>
<%= button_to "User Index", users_path, method: :get%>
