    <h1><%=@user.name%>'s Sneaker Page</h1>

    <% @user.sneakers.each do |sneaker| %>
      <%= sneaker.style %>
      <br>
    <% end %>

    <%= button_to "Edit User", edit_user_path, method: :get %>
    <%= button_to "Delete User", user_path, method: :delete%>
    <%= button_to "Sneakers Index", sneakers_path, method: :get%>
    <%= button_to "New Shop Order", new_shop_path, method: :get%>
