<h1>👟👟👟👟👟👟👟👟Edit <%=@sneaker.style%>👟👟👟👟👟👟👟👟</h1>

  <%= form_for @sneaker do |f| %>
    <%= f.label :sneaker_id%>
    <%= f.collection_select :style, Sneaker.all, :style, :style %>
    <%= f.label :sneaker_id%>
    <%= f.collection_select :color, Sneaker.all, :color, :color %>
    <%= f.label :sneaker_id%>
    <%= f.collection_select :size, Sneaker.all, :size, :size %>
    <%= f.submit text='Edit Sneaker'%>
  <%end%>

<%= button_to "Delete Sneaker", sneaker_path, method: :delete%>
<%= button_to "Sneaker Index", sneakers_path, method: :get%>
<%= button_to "User Index", users_path, method: :get%>
