<h1>👟👟👟👟👟👟👟👟Sneaker ZOOOOOONNNNNNEE👟👟👟👟👟👟👟👟👟👟</h1>

  <% @sneakers.each do |sneaker|%>
  <%= link_to sneaker.style, sneaker %>
  <%=sneaker.color %>
  <%=sneaker.size %>
  <br>
  <%end%>

<%= button_to "New Sneaker", new_sneaker_path, method: :get%>
<%= button_to "Shop", new_shop_path, method: :get%>
<%= button_to "Home User", users_path, method: :get%>
