<h1>Sneaker ZOOOOOONNNNNNEE</h1>

  <%=@sneaker.style%>
  <%=@sneaker.color%>
  <%=@sneaker.size%>

  <h2>Worn by these players:</h2>

  <% @sneaker.shops.select do |shop| %>
  <%= shop.user.name %>
  <%end%>

  <%= button_to "Edit Sneaker", edit_sneaker_path(@sneaker), method: :get%>
  <%= button_to "Sneaker Index", sneakers_path, method: :get%>
  <%= button_to "User Index", users_path, method: :get%>
  <%= button_to "New Shop Order", new_shop_path, method: :get%>
